* {
    padding: 0;
    margin: 0;
    font-family: 'Palanquin', sans-serif;
}

.contenedor-principal {
    padding-top: 5em;
    display: grid;
    grid-template: auto auto / 50% 50%;
    background-color: #ffffff
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav {
    /* nav bar */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1em;
    gap: 25em;

    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #F2F2F2;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.lista-nav {
    display: flex;
    padding: 0em;

}

.lista-nav>li {
    padding: 1em 5em;
    list-style: none;
}

.lista-nav a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}

nav h2 {
    padding: 0em 0em 0em 1em;
    font-weight: lighter;
}

.main {
    padding: 3em 6em;
}

.reservados {
    font-size: 2.5em;
    text-decoration: underline pink 5px;
    padding: 0em 0em 1.3em 0em;
}

.bariloche {
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.12);
    border-radius: 1em;
}

.bariloche img {
    border-radius: 1em;
    height: 32em;
    width: 100%;
}

.bariloche p,
.bariloche div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paiscard {
    font-family: 'Inter', sans-serif;
    color: #92A5B8;
    font-size: 1.5em;
    padding: 1em 0em 0em 0em;
    letter-spacing: 2px;
}

.descripcioncard {
    font-size: 3em;
    font-family: 'Advent Pro', sans-serif;
    padding: 0.4em;
    letter-spacing: 3px;

}

.bariloche span {
    font-size: 1em;
    padding: 0.5em;
    margin: 1em 1em 10em 0em;
    border: grey solid 2px;
    border-radius: 10%;
    font-weight: bold;
}

.aside {
    padding: 10em 4em;
}

.aside img {
    height: 100%;
    width: 30%;
    margin: 0.6em 0em;
    border-radius: 1em 0em 0em 1em;
    margin: 0px;
}

.contenedorcarta {
    display: inline-flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.12);
    border-radius: 1em;
    align-items: center;
    margin: 1em;

}

.contenedorcarta div {
    margin: 0em 0em 0em 2em;
}

.paiscard2 {
    font-family: 'Inter', sans-serif;
    color: #92A5B8;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.descripcioncard2 {
    font-size: 2.5em;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 3px;
}

.botones {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    padding: 0em;
}
.botones p {
    font-size: 1em;
    padding: 0.5em;
    margin: 1em;
    border: grey solid 2px;
    border-radius: 10%;
    font-weight: bold;

}

.footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 1em;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background: #F2F2F2;

}

.RRSS {
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;

}

.footer img {
    display: inline-flex;
    margin: 0.2em 3em 0px;

}

