* {
    padding: 0;
    margin: 0;
}

.contenedor-principal {
    padding-top: 5em;
    display: grid;
    grid-template: auto auto / 65% 35%;
    background-color: #EAEDED
}

header {
    position: fixed;
    background-color: #CCD1D1;
    width: 100%;
    z-index: 100;

}

.nav {
    display: flex;
    border-bottom: 0.1em solid grey;
}

.lista-nav {
    display: flex;
}

.lista-nav>li {
    padding: 1em;
    list-style: none;
}

.lista-nav a {
    text-decoration: none;
    color: black;
}

nav h2 {
    font-size: 2.5em;
    margin: 0.4em 0.8em;
}

nav span {
    margin: 0.3em
}

.main {
    padding: 2em 7em;
}

.mdp {
    background-image: url(/img/MdP.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    font-size: 3em;
    padding: 5em;
    margin:0.5em 0;
    text-align: center;
}

.jujuy {
    background-image: url(/img/Jujuy.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    font-size: 3em;
    padding: 5em;
    margin:0.5em 0;
    text-align: center;
}

.ushuaia {
    background-image: url(img/Ushuaia.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    font-size: 3em;
    padding: 5em;
    margin:0.5em 0;
    text-align: center;
}

.bariloche {
    background-image: url(/img/Bariloche.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 2%;
    font-size: 3em;
    padding: 5em;
    margin:0.5em 0;
    text-align: center;
}
.main p {
    color: white;
    font-size: 0.5em;
}

.aside{
    padding: 2em 4em;
}
.footer {
    grid-column: 1 / 3;
    border-top: 0.1em solid grey;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.RRSS {
    font-size: 1.9em;
}

.footer img {
    padding: 0.5em;
}