/* Estilos para todo el proyecto */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
}

.lista-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.lista-nav li {
  margin-left: 10px;
}

.lista-nav li:first-child {
  margin-left: 0;
}

.lista-nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
}

.lista-nav a:hover {
  background-color: #0056b3;
}

.contenido {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #007bff;
}

table {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 5px;
}

/* Resto de los estilos... */


.contenedor-centrado {
  display: flex;
  width: 100%;
  justify-content: center;
}

p {
  font-family: "Times New Roman", Times, serif;
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}



form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 5px;
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

button {
  padding: 8px;
  margin: 4px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  padding: 8px;
  margin: 4px;
  background-color: #fdab13;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 85%;
}

a:hover {
  background-color: #cd7b00;
}

